.backgraound{
  height:610px;
  width:100%;
  float:left;
  background-color: yellow;
}
.backgraound img{
  height:610px;
  width:100%;
  float:left;
  margin-top: 0px;
}

.img_1{
  height:5px;
  width:20%;
  float:right;
position: absolute;
margin-left: 900px;
margin-top: 65px;
animation-name:ani;

animation: ani 5s linear infinite;
transform-origin: 100% 50%;

}
@keyframes ani{
  100%{
    transform: translate(0px) translateY(0px) rotate(0deg);
  }
30%{
  transform: translate(-300px) translateY(0px) rotate(0deg);
}
100%{
    transform: translate(-1300px) translateY(-300px) rotate(5deg);
  }


}
